.wrapper {
  .main-screen {
    background-image: url("../../images/bgc.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1038px;
    margin: 10px 0 0 ;
    .main-content {
      h1 {
        padding: 270px 0 0;
        margin: 0 0 462px;

        font-weight: 700;
        font-size: 72px;
        line-height: 120%;
        text-align: center;
        color: #fff;
      }
      .main-content__scroll {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        p {
          font-weight: 700;
          font-size: 18px;
          line-height: 140%;
          color: #fff;
        }
      }
    }
  }

  .about {
    margin: 120px 0 0 ;
    padding: 0 50px;
    .about-content {
      img {
        display: block;
        margin: 0 auto;
      }
      p {
        font-weight: 700;
        font-size: 27px;
        line-height: 130%;
        color: #fff;
        text-align: center;

      }
      p:nth-of-type(1) {
        margin: 60px 0 20px;
      }
      p:nth-of-type(2) {
        margin: 0 0 99px;
      }
    }
    .main-services {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      justify-content: center;
      p {
        font-weight: 400;
        font-size: 30px;
        line-height: 120%;
        color: #fff;

        margin: 30px 0 0 ;
      }
      .main-hairdresser {
        img {
          max-width: 100%;
        }
      }
      .main-manicure {
        img {
          max-width: 100%;
        }
      }
    }
  }

  .product {
    margin: 204px 0 0;
    .product-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
    }
  }
  .gallery {
    .gallery-content {
      width: 100%;
      max-width: 1296px;
      margin: 0 auto;
      .gallery-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        color: #fff;

        margin: 168px 0 0;
      }
    }
  }
}