@import "src/styles/style";

header {
  padding: 0 20px;
  .header-content {
    display: flex;
    justify-content: space-between;
    max-width: 1296px;
    width: 100%;
    margin: 0 auto;
    padding: 23px 10px;

    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  nav {
    ul {
      display: flex;
      gap: 80px;

      li {
        list-style-type: none;

        a {
          text-decoration: none;
          color: #fff;

          font-weight: 600;
          font-size: 18px;
          line-height: 130%;
        }
      }
    }
  }
}

@include breakpoint(lg) {
  nav {
    display: none;
  }
}
