.wrapper {
  .price {
    p {
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      text-align: center;
      color: #fff;

      margin: 80px 0 0;
    }
    .price-content {
      margin: 80px 0 0;
      .price-content__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
      }
    }
  }
}